<ion-header>
    <ion-toolbar color="tertiary" >
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title> 
    <ion-icon size="large"  slot="end"  name="search"></ion-icon>
    <ion-icon size="large"  slot="end"  name="apps"></ion-icon>
    </ion-toolbar>
  </ion-header>
  
  <ion-content  >
    

      <ion-list>
          <ion-item-sliding>
            <ion-item>
              <ion-button size="small" color="tertiary" >Hindi</ion-button> <ion-button size="small" color="tertiary" >English</ion-button> <ion-button size="small" color="tertiary" >Kannada</ion-button> <ion-button size="small" color="tertiary" >Tamil</ion-button> <ion-button size="small" color="tertiary" >Telgu</ion-button> <ion-icon color="" name="arrow-forward"></ion-icon>
            </ion-item>
        
            <ion-item-options side="end">
                <ion-item>
                    <ion-button size="small" color="tertiary" >Action</ion-button> <ion-button size="small" color="tertiary" >Romantic</ion-button> <ion-button size="small" color="tertiary" >Animation</ion-button> <ion-button size="small" color="tertiary" >Dramatic</ion-button> 
                  </ion-item>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
    
  
      <ion-card>
          <ion-img  src="assets/movie2.png" ></ion-img>

          <ion-card-content>
            <ion-item>
           <h2> Aquaman (IMAX 3D)</h2>  <ion-button size="small" color="tertiary" slot="end" >Book Now</ion-button>
          </ion-item>
          <ion-item>
              <p>Hindi,English,Tamil,Telgu</p> <h2 slot="end"> <ion-icon color="tertiary"  name="calendar"></ion-icon> Mar 20 SUN</h2>
          </ion-item>
          </ion-card-content>
        </ion-card>

        <ion-grid>
          <ion-row>
            <ion-col col-6>
                <ion-card>
                    <ion-img  src="assets/movie1.jpg" ></ion-img>
          
                    <ion-card-content>
                     
                     <h2> Caption Marvel </h2>  <ion-button size="small" color="tertiary" slot="end" >Book Now</ion-button>
                   
                    </ion-card-content>
                  </ion-card>
            </ion-col>
            <ion-col col-6>
                <ion-card>
                    <ion-img  src="assets/alita.png" ></ion-img>
          
                    <ion-card-content>
                     
                     <h2> Alita battle Angel </h2>  <ion-button size="small" color="tertiary" slot="end" >Book Now</ion-button>
                   
                    </ion-card-content>
                  </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
              <ion-col col-6>
                  <ion-card>
                      <ion-img  src="assets/stree.jpg" ></ion-img>
            
                      <ion-card-content>
                       
                       <h2> Stree </h2>  <ion-button size="small" color="tertiary" slot="end" >Book Now</ion-button>
                     
                      </ion-card-content>
                    </ion-card>
              </ion-col>
              <ion-col col-6>
                  <ion-card>
                      <ion-img  src="assets/razi.jpg" ></ion-img>
            
                      <ion-card-content>
                       
                       <h2> Raazi </h2>  <ion-button size="small" color="tertiary" slot="end" >Book Now</ion-button>
                     
                      </ion-card-content>
                    </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>

       
  </ion-content>
  