.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.content{
  background-image: url('../../assets/home_screen3.png');
   height: 100%;
}

.btn1
{
 padding-top: 400px ;
 text-align: center;
}
